@tailwind base;
@tailwind components;
@tailwind utilities;

*,*:before,*:after{
  margin:0;
  padding:0;
  box-sizing: border-box;
  }
  
  #root{
    height: 100vh;
  }

  .buttons{
    position:relative;
    display: flex;
    align-items: center;
    justify-content:end;
    gap: 1em;
    margin:2em;

  }